h1 Edit profile
= form_for [current_user, @profile] do |f|
  .row
    .col-md-8.col-xs-6
      - if @profile.errors.any?
        #error_messages
          .alert.alert-danger role='alert' 
            button.close data-dismiss='alert' type='button'  x
            h2
              = fa_icon 'exclamation-triangle', text: 'Form is invalid'
            ul
              - @profile.errors.full_messages.each do |msg|
                li= msg
  .row
    .col-md-4.col-xs-6
      p= f.label :first_name
      p= f.text_field :first_name, class: 'form-control', placeholder: 'Enter your name', required: true
    .col-md-4.col-xs-6
      p= f.label :last_name
      p= f.text_field :last_name, class: 'form-control', placeholder: 'Enter your surname', required: true
  .row
    .col-md-4.col-xs-6
      p= f.label :username
      p= f.text_field :username, class: 'form-control', placeholder: 'Enter your username', required: true
    .col-md-4.col-xs-6
      p= f.label :birthday
      p= f.text_field :birthday, type: 'date', class: 'form-control'
  .row
    .col-md-4.col-xs-6
      = f.submit class: 'btn btn-success'
