h1 = @profile.full_name
p Birhday: #{ @profile.birthday.strftime("%B %d, %Y") }
p Age: #{ @profile.age }
p Username: #{ @profile.username }
p= link_to 'Edit profile', edit_user_profile_path(@profile.user.id), class: 'btn btn-warning'
