.col-md-6.col-md-offset-3
  = form_tag sessions_path do
    .field
      = label_tag :email
      br
      = text_field_tag :email, params[:email], class: 'form-control'
    br
    .field
      = label_tag :password
      br
      = password_field_tag :password, params[:password], class: 'form-control'
    br
    .actions= submit_tag "Log In", class: 'btn btn-primary btn-block'
