.row
  ul.nav.nav-pills.nav-justified
    li.active role="presentation"
      a data-toggle="tab" href="#tab-1"  Video
    li role="presentation"
      a data-toggle="tab" href="#tab-2"  Audio
  br
  .tab-content
    #tab-1.tab-pane.fade.in.active
      center
        .row
          - Format.where(types: 'video').each do |f|
            .col-md-4.col-xs-6
              = radio_button_tag :format, f.name
              = label_tag :format, f.name
        .row
          h4 Quality
          - Quality.where(types: 'video').each do |f|
            .col-md-4.col-xs-6
              = radio_button_tag :quality, f.name
              = label_tag :quality, f.name
    #tab-2.tab-pane.fade
      center
        .row
          - Format.where(types: 'audio').each do |f|
            .col-md-4.col-xs-3
              = radio_button_tag :format, f.name
              = label_tag :format, f.name
        .row
          h4 Quality
          - Quality.where(types: 'audio').each do |f|
            .col-md-4.col-xs-6
              = radio_button_tag :quality, f.name
              = label_tag :quality, f.name
