.col-md-6.col-md-8.col-xs-12.col-md-offset-2
  = form_tag 'create' do
    .row
      = t('landing.enter_url')
      p
      = text_field_tag :url, nil, required: true, class: 'video_youtube load-class video-load form-control', placeholder: 'Enter Youtube url'
      br
    #progressbar
    #whatever.formats_video
      .alert role='alert' 
        button.close data-dismiss='alert' type='button'  x
        .row
          p.preview
        .row
          = render 'formats'
        .row
          = submit_tag 'Convert video', id: 'convert_video', remote: true, class: 'btn btn-success btn-block'
    .row
      .status_message
    .row
      #text_message
        = raw @string_with_markup
        h3 Conversion takes place!
        .progress
          .progress-bar.progress-bar-striped.progress-bar-success.active aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" style="width:100%" 
    = javascript_include_tag "landing", 'data-turbolinks-track' => true
