.row
  .col-md-8.col-xs-12
    h1= t '.all_connects'
    table.table.table-hover
      th Ip
      th URL
      th Created at
      - @connects.each do |c|
        tr
          td= c.ip
          td= c.url
          td #{ time_ago_in_words(c.created_at) } ago
.row
  .col-md-8.col-xs-12
    h1= t '.all_converts'
    table.table.table-hover
      th Path
      th Created at
      - @converts.each do |c|
        tr
          td= c.path
          td #{ time_ago_in_words(c.created_at) } ago
