doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    script src='http://js.pusher.com/2.1/pusher.min.js'
    title Admin panel
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'shared/admin/header'
    .col-md-6.col-xs-12.col-md-offset-2
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}", class: 'alert alert-info message'
      br
    .container
      = yield
