- if @user.errors.any?
  #error_messages
    .alert.alert-danger role="alert" 
      button.close data-dismiss="alert" type="button"  x
      h2
        i.glyphicon.glyphicon-warning-sign
        | Form is invalid
      ul
        - @user.errors.full_messages.each do |msg|
          li= msg
