= form_for @user do |f|
  = render 'error'
  p
    = f.label :email
    br
    = f.text_field :email, class: "form-control"
  p 
    = f.label :password
    br
    = f.password_field :password, class: "form-control"
  p
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, class: "form-control"
  p= f.submit class: 'btn btn-success'
