.navbar.navbar-default role="navigation" 
  .container
    .navbar-header
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = fa_icon 'youtube', text: 'Youtube converter'
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if current_user
          li= link_to current_user.name_space, user_profile_path(current_user)
          li= link_to t('shared.header.log_out'), logout_path
        - else
          li= link_to t('shared.header.sign_up'), signup_path
          li= link_to t('shared.header.login'), login_path
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            = t('shared.header.languages')
            span.caret
          ul.dropdown-menu
            li= link_to t('languages.en'), change_locale_path(:en)
            li= link_to t('languages.ru'), change_locale_path(:ru)
