/*
  *= require_tree .
  *= require_self
  *= require font-awesome
  *= require nprogress
  *= require nprogress-bootstrap
*/
$nprogress-color: #37c8c9;

@import "nprogress";
@import "nprogress-bootstrap";

#text_message { display: none; }
.formats_video { display: none; }
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
}
