h1 All users
table.table
  th ID
  th Fullname
  th Email
  th Active
  th Action
  - @users.each do |user|
    tr class="#{user.active ? 'default' : 'danger'}"
      td= user.id
      td= user.profile.full_name
      td= user.email
      td= user.user_active
      td
        .btn-group
          button.btn.btn-info.btn-sm.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown' type='button'
            | Action
            span.caret
          ul.dropdown-menu
            li= link_to 'Delete user', admin_user_path(user), method: :delete
            - if user.active
              li= link_to 'The off account', active_user_admin_user_path(user)
            - else
              li= link_to 'The on account', active_user_admin_user_path(user)
