.well
  = form_for [:admin, @format] do |f|
    = f.label :name
    br
    = f.text_field :name, class: 'form-control', placeholder: 'Enter format', required: true
    p
    = f.label :types
    br
    = f.select :types, options_for_select(['video','audio']), {}, class: 'form-control'
    p 
    = f.submit class: 'btn btn-success'
