.row
  .col-md-8.col-xs-12
    .button
      / = link_to 'New Format', new_admin_format_path, id: 'new_format', remote: true, class: 'btn btn-primary'
    = render 'form'
.row
  .col-md-8.col-xs-12
    h1 All formats
    table.table
      th Name format
      th Type
      th Action
      - @formats.each do |f|
        tr id='format_#{f.id}'
          td= f.name
          td= f.types
          td= link_to 'Delete format', admin_format_path(f), remote: true, method: :delete
