.navbar.navbar-inverse role="navigation" 
  .container
    .navbar-header
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to admin_dashboard_index_path, class: 'navbar-brand' do
        = fa_icon 'youtube', text: 'Youtube converter'
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        - if session[:admin] == true
          li= link_to t('shared.admin.header.format'), admin_formats_path
          li= link_to t('shared.admin.header.user_managment'), admin_users_path
      ul.nav.navbar-nav.navbar-right
        li= link_to t('shared.admin.header.back_main'), root_path
        - if session[:admin] == true
          li= link_to t('shared.admin.header.exit'), admin_logout_path
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            = t('shared.admin.header.languages')
            span.caret
          ul.dropdown-menu
            li= link_to t('languages.en'), change_locale_path(:en)
            li= link_to t('languages.ru'), change_locale_path(:ru)
